body{
    padding-top: 20px;
}
main{
    position: relative;
    height:850px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    box-shadow: 5px 10px 5px#333;
    overflow-y: auto;
}

h2{
    text-align: center;
    right: 0%;
    margin-bottom: 0%;
}
#slogan{
    text-align: center;
}

form{
    text-align: center;
}
h3{
    margin-bottom: 0%;
}
#best-foods{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.active{
    color: #FF9529;
}




