body{
    padding-top: 10px;
}
main{
    position: relative;
    height:870px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    box-shadow: 5px 10px 5px#333;
    overflow-y: auto;
}

h2{
    text-align: center;
    right: 0%;
    margin-bottom: 0%;
}
#slogan{
    text-align: center;
}

form{
    text-align: center;
}
h3{
    margin-bottom: 0%;
}

#best-foods{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
}
#category-cards{
    display: flex;
    gap: 100px;
    width: 100%;
    /* padding-top: 20px; */
    overflow-x:auto;
}
.category{
    width: auto;
    height: 300px;
    border: 1px solid #333;
    position: relative;
    left: 0%;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    box-shadow: 2px 2px 2px#333;
    border-radius: 10px;
    
}
button{
    margin-bottom: 10px;
}
#image{
    width: 250px;        
    
}
#image img{
    max-width: 100%;
    max-height: 100%;
}
.text{
    width: 200px;
}
#categoryList{
    position: relative;
    top: -10px;
}
.active{
    color: #FF9529;
}




