@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cookie&family=Raleway&family=Satisfy&display=swap');
body{
    padding-top: 10px;
    background-image: url(./chefs\ 1.jpg);
}
main{
    position: relative;
    height:870px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    box-shadow: 5px 10px 5px#333;
    overflow-y: auto;
    opacity: 1;
   
}

h2{
    text-align: center;
    right: 0%;
    margin-bottom: 0%;
}
#slogan{
    text-align: center;
    font-size: 20px;
}

form{
    text-align: center;
}
h3{
    margin-bottom: 0%;
}
span{
    color: #7b3804;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}
#best-foods{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
}
#category-cards{
    display: flex;
    gap: 100px;
    width: 100%;
    overflow-x:auto;
}
.category{
    width: auto;
    height: auto;
    border: 1px solid #333;
    position: relative;
    left: 0%;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    box-shadow: 2px 2px 2px#333;
    border-radius: 10px;
    background-color: #5f4b3b;
    color: white;   
}
button{
    margin-bottom: 10px;
}
hr{
    height: 2px;
    background-color: black;
}
#image{
    width: 250px;        
    
}
#image img{
    max-width: 100%;
    max-height: 100%;
}
.text{
    width: 200px;
}
#categoryList{
    position: relative;
    top: -10px;
}
.active{
    color: #FF9529;
}




